events {
    worker_connections 1024;
}

http {
    server {
        listen 80;

        location /images/ {
            alias /var/www/html/images/;
            autoindex on; # Enable directory listing
        }
    }
}